#header{
   position:fixed;
    top: 0;
    z-index: 1;
    width: 100%;
   background-color: grey !important;

}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

#moi{

    margin-top: 2rem;
    text-align: center;
}
.photo img{
    border: darkgrey 1rem solid;
    border-radius: 50%;
    width: 20%;
    height: auto;
    margin-top: 5%;
}
.navbar{
    background-color:darkgray !important;

}



   /* external css: flickity.css */

* { box-sizing: border-box; }

body { 
    background-image: url('http://www.gifsanimes.fr/fonds-ecran/fonds-ecran/gris/gris-gifs-animes-2972331.jpg');
    font-family: sans-serif;


}

#portfolio{
margin: 5%;

}


.carousel-cell {
  width: 40%;
  height: auto;
  margin-right: 1rem;

  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
justify-content: center;
   line-height: 200px;
  font-size: 80px;
}

h1{
    text-align: center;
}
h2{
    color:black;
    text-align: center;

}
.card{

    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}


#competences{
margin-top: 2%;
padding: 5%;
margin-top: 2rem;
border:1px solid white;
background-color: darkgrey;
width: 100%;

}

#competences img{
    margin-top: 5%;
    width: 30%;
    height: auto;
    margin-bottom: 5%;
}


button{
    align-content: center;
}



.card-body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.card-body img{
  width: 30%;
  height: 5rem;
}
#competences  img{
    width: 20vh; 
    height: 20vh;


}
#competences  .col-2{
    margin: 1rem;
}


#competences  .row{ 
display: flex;
flex-flow: row;
justify-content: center;

        
}

.container{
    background-color: grey;
}
nav img{
    width: 5%;
    height: 5%;
}


#contact{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.email{
  display: flex;
  justify-content: space-between;

}

 


  .timeline {
      border-left: 3px solid #727cf5;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      background: rgba(114, 124, 245, 0.09);
      margin: 0 auto;
      letter-spacing: 0.2px;
      position: relative;
      line-height: 1.4em;
      font-size: 1.03em;
      padding: 50px;
      list-style: none;
      text-align: left;
      max-width: 40%;
  }
  
  @media (max-width: 767px) {
      .timeline {
          max-width: 98%;
          padding: 25px;
      }
  }
  
  .timeline h1 {
      font-weight: 300;
      font-size: 1.4em;
  }
  
  .timeline h2,
  .timeline h3 {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 10px;
  }
  
  .timeline .event {
      border-bottom: 1px dashed #e8ebf1;
      padding-bottom: 25px;
      margin-bottom: 25px;
      position: relative;
  }
  
  @media (max-width: 767px) {
      .timeline .event {
          padding-top: 30px;
      }
  }
  
  .timeline .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
  }
  
  .timeline .event:before,
  .timeline .event:after {
      position: absolute;
      display: block;
      top: 0;
  }
  
  .timeline .event:before {
      left: -207px;
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 0.9em;
      min-width: 120px;
  }
  
  @media (max-width: 767px) {
      .timeline .event:before {
          left: 0px;
          text-align: left;
      }
  }
  
  .timeline .event:after {
      -webkit-box-shadow: 0 0 0 3px #727cf5;
      box-shadow: 0 0 0 3px #727cf5;
      left: -55.8px;
      background: #fff;
      border-radius: 50%;
      height: 9px;
      width: 9px;
      content: "";
      top: 5px;
  }
  
  @media (max-width: 767px) {
      .timeline .event:after {
          left: -31.8px;
      }
  }
  
  .rtl .timeline {
      border-left: 0;
      text-align: right;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      border-right: 3px solid #727cf5;
  }
  
  .rtl .timeline .event::before {
      left: 0;
      right: -170px;
  }
  
  .rtl .timeline .event::after {
      left: 0;
      right: -55.8px;
  
  
  }



  .html {
    background-color:orange !important;
    width: 0;
    // animation: html 1.5s  ease-in-out forwards;
   
  
  } 
.js{
   
  background-color: yellow !important;
    color: black;  
    width: 0;   
    // animation: js  1.5s  ease-in-out forwards;
  
  
  }


  .css{
    background-color: blue !important;
    width: 0;
    // animation: css  1.5s  ease-in-out forwards;
 
  }
  .php{
    background-color: purple !important;
    width: 0;
    // animation: php  1.5s  ease-in-out forwards;
 
  
  }





  @keyframes html {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 


  @keyframes css{
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  } 


  
  @keyframes js{
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
  
  @keyframes php{
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
  

.hidimg span{
  display: none;
  }


.hidimg img:hover +span {
  display: block;
 
}




    

  



    
    

  


  