

#header{
   position:fixed;
    top: 0;
    z-index: 1;

}

#moi{
    margin-top: 2rem;
    text-align: center;
}
.photo img{
    border: darkgrey 1rem solid;
    border-radius: 50%;
    width: 40%;
    height: auto;
}



#portfolio{
    height: auto;
    display: inline;
    word-break: break-all;
    overflow-y: auto;
    border:1px solid white;
    background-color: green;

}

.card{
    border: blue 1px solid;
    border-radius: 5%;
    align-items: center;
    padding: 0.1rem;
    margin-bottom: 1rem;
    background-color: black;
    position: relative;
}
        

#competences{
    padding: 5%;
    margin-top: 5em;
    border:1px solid white;
    background-color: darkgrey;
    width: 100%;

 
}

#competences  .row{ 
display: flex;
flex-flow: row;
justify-content: center;
align-items: center;
        
}
#portfolio img{
    width: 10rem;
    height: 10rem;
}
h1{
    text-align: center;
}
h2{
    color:white;
    text-align: center;

}
.card p{
    color: white;
}


#competences img{
    margin-top: 5%;
    width: 30%;
    height: auto;
}
#contact{
    text-align: center; 
    margin-top: 5em; 
    border:1px solid white;


}

button{
    align-content: center;
}


.progress {
    position: relative;
    display: inline-block;
    overflow: visible;
  }
  
  .progressBar {
    width: 10rem;
    height: 2.2rem;
    background: #fff;
    border: 0.3rem solid #ddd;
    padding: 0.3rem;
  }
  
  .progressValue {
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    bottom: 5px;
    text-align: center;

  }

  #contact img{
width:10rem;
height:10rem;

  }


  .logo{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }